header {
    background-color:#1B2E20;
    position: fixed;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    }
    
    #logo-header {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    }
    p{
    margin-top: 10px;
    font-size: 20px;
    }
    #he{
        color:rgb(253, 122, 0);
    }
    